
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: "Georgia", serif;
}


header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
}

nav {
    background-color: #000;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 2;
    padding: 1.5rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


main {
    grid-area: main;
    background-color: #ccc;
    padding: 1.5rem;
}

aside {
    grid-area: aside;
    background-color: white;
    padding: 1.5rem;
}


footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}