body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #eef5eb;
}

header, main, footer {
    max-width: 700px;
    margin: auto;
    padding: 1rem;
}

header, h1 {
    background: #006400;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 6px;
}

main {
    display: grid;
    gap: 1rem;
}

main, h2 {
    grid-column: 1 / -1;
    color: #b30000;
    margin-bottom: 0.5rem;
}

.hero img {
    
    border-radius: 6px;
    height: 75%;
}

.data, .weather {
    background: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.data ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.weather-icon {
    width: 40px;
}

@media (min-width: 600px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    main h2 {
        grid-column: 1 / 3;
    }

    .hero {
        grid-column: 1 / 3;
    }
}

footer {
    text-align: left;
    font-size: 0.9rem;
    color: #333;
    margin-top: 2rem;
}